apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-html
data:
  index.html: |
    <html>
      <body>
        <h1>Frontend is working</h1>
        <p>Backend URL: http://backend:3000</p>
      </body>
    </html>
